<div class="sidenav">
  <div class="side-menu-header">
    <div class="side-menu-head">
      <img src="assets/SmallLogo.svg" alt="Logo" class="logo"/>
    </div>

    <span class="SideMenuHeader-name">
      InvoiceSync
    </span>
  </div>
  <ul class="sidenav-nav">
    <li *ngFor="let data of filteredNavBarData">
      <a class="sidenav-nav-link" [routerLink]="data.routerLink"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
         <span class="sidenav-link-icon">
            <i [ngClass]="data.icon"></i>
         </span>
        <span class="sidenav-link-text">{{ data.label }}</span>
      </a>
      <i class="fa-solid fa-file-lines"></i>
    </li>
  </ul>
</div>
