<main class="bg-gray-50">
  <div class="pt-13 mt-6 h-full">
    <div class="header">
      <nav class="flex mb-4 mx-4" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <li class="inline-flex items-center">
            <a routerLink="/home"
               class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
              <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                   viewBox="0 0 20 20">
                <path
                  d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
              </svg>
              {{ 'breadcrumb_home' | translate }}
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                      d="m1 9 4-4-4-4"/>
              </svg>
              <a routerLink="/home"
                 class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2">{{ 'breadcrumb_company_list' | translate }}</a>
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                      d="m1 9 4-4-4-4"/>
              </svg>
              <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2">{{ 'breadcrumb_company_detail' | translate:{ name: companyName } }}</span>
            </div>
          </li>
        </ol>
      </nav>

      <div class="flex items-center justify-between mb-4 mx-4">
        <h1 class="text-xl font-semibold text-black">{{ 'company_overview' | translate }}</h1>
      </div>
    </div>


    <div>
      <div class="mb-4 border-b border-gray-300">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-center"
            id="default-tab"
            data-tabs-toggle="#default-tab-content"
            role="tablist">
          <li class="me-2 mx-1" role="presentation">
            <button
              class="inline-block p-1 px-3 border-b-2 rounded-t-lg !text-black hover:!border-blue-500"
              id="profile-tab"
              data-tabs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false">
              {{ 'tab_basic_info' | translate }}
            </button>
          </li>

          <li class="me-2" role="presentation">
            <button
              class="inline-block p-1 px-3 border-b-2 rounded-t-lg !text-black hover:!border-blue-500"
              id="dashboard-tab"
              data-tabs-target="#dashboard"
              type="button"
              role="tab"
              aria-controls="dashboard"
              aria-selected="false">
              {{ 'tab_chart_of_accounts' | translate }}
            </button>
          </li>

          <li class="me-2" role="presentation">
            <button
              class="inline-block p-1 px-3 border-b-2 rounded-t-lg !text-black hover:!border-blue-500"
              id="settings-tab"
              data-tabs-target="#settings"
              type="button"
              role="tab"
              aria-controls="settings"
              aria-selected="false">
              {{ 'tab_settings' | translate }}
            </button>
          </li>
        </ul>
      </div>
      <!-- tabs content -->
      <div id="default-tab-content">
        <div class="hidden rounded-lg mx-3" id="profile" role="tabpanel"
             aria-labelledby="profile-tab">
          <app-company-info [companyId]="companyId"></app-company-info>
        </div>

        <div id="dashboard" role="tabpanel"
             aria-labelledby="dashboard-tab" >
          <div class="mb-4 border-b border-gray-300">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-center"
                id="accounting-tab"
                data-tabs-toggle="#accounting-tab-content"
                role="tablist">
              <li class="me-2 mx-1" role="presentation">
                <button
                  class="inline-block p-1 px-3 border-b-2 rounded-t-lg !text-black hover:!border-blue-500"
                  id="accounting-chart-tab"
                  data-tabs-target="#accounting-chart"
                  type="button"
                  role="tab"
                  aria-controls="accounting-chart"
                  aria-selected="false">
                  {{ 'tab_internal_documents' | translate }}
                </button>
              </li>
              <li class="me-2 mx-1" role="presentation">
                <button
                  class="inline-block p-1 px-3 border-b-2 rounded-t-lg !text-black hover:!border-blue-500"
                  id="cash-account-tab"
                  data-tabs-target="#cash-chart"
                  type="button"
                  role="tab"
                  aria-controls="cash-chart"
                  aria-selected="false">
                  {{ 'tab_cash_register' | translate }}
                </button>
              </li>
            </ul>
          </div>


          <!-- 🔸 Obsah vnorených tabov -->
          <div id="nested-tab-content" >
            <div id="accounting-chart" role="tabpanel" aria-labelledby="accounting-chart-tab">
              <app-company-internal-documents-accounts [companyId]="companyId"></app-company-internal-documents-accounts>
            </div>
          </div>

          <div id="nested-tab-content" >
            <div id="cash-chart" role="tabpanel" aria-labelledby="cash-account-tab">
              <app-company-cash-documents-accounts [companyId]="companyId"></app-company-cash-documents-accounts>
            </div>
          </div>



<!--            <div id="journal" class="hidden" role="tabpanel" aria-labelledby="journal-tab">-->
<!--              <app-company-journal [companyId]="companyId"></app-company-journal>-->
<!--            </div>-->

<!--            <div id="balance" class="hidden" role="tabpanel" aria-labelledby="balance-tab">-->
<!--              <app-company-balance [companyId]="companyId"></app-company-balance>-->
<!--            </div>-->
<!--          </div>-->
        </div>

        <!-- Nastavenia -->
        <div class="hidden rounded-lg mx-3" id="settings" role="tabpanel"
             aria-labelledby="settings-tab">
          <app-company-settings [companyId]="companyId"></app-company-settings>
        </div>
      </div>
    </div>
  </div>
</main>
