.header {
    background-color: #f8f9fa; /* Svetlá farba pozadia pre header */
    display: flex;
    align-items: center; /* Vertikálne zarovnávanie obsahu */
    padding: 0 20px; /* Horizontálne odstupy */
    height: 60px; /* Výška headeru */
  
    .example-spacer {
      flex-grow: 1; /* Tento prvok vyplní priestor medzi názvom aplikácie a používateľom */
    }
  }
  