
<!-- button to import XML file -->
<div class="upload-container">
  <button mat-flat-button color="basic" [style.backgroundColor]="'rgba(192, 192, 192, 0.35)'" (click)="onFileSelected()">
    <mat-icon>upload</mat-icon>
    Import
  </button>
</div>

<div class="invoices-page-container">
  <div class="card">
    <div class="card-body">
<div class="table-wrapper">
  <div class="table-container limited-height">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Stĺpec: File Name -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef> Názov </th>
        <td mat-cell *matCellDef="let element"> {{ element.fileName }} </td>
      </ng-container>

      <!-- Stĺpec: Created At -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Pridané </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdAt | date:'dd.MM.yyyy' }} </td>
      </ng-container>

      <!-- Stĺpec: Download -->
      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef> Stiahnuť </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="downloadFile(element.importId)">
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Hlavička a riadky tabuľky -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
</div>
  </div>
</div>
