.invoices-container {
    height: 100%; /* Full viewport height */
    max-width: 1700px; /* Maximum width to maintain responsiveness */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    border-top: 1px solid #ccc; /* Top border style */
    border-left: 1px solid #ccc; /* Left border style */
    border-right: 1px solid #ccc; /* Right border style */
    border-bottom: none; /* No border at the bottom */
    border-top-left-radius: 10px; /* Rounded corner at top-left */
    border-top-right-radius: 10px; /* Rounded corner at top-right */
    padding-top: 20px; /* Optional: Padding at the top for spacing */
    margin-bottom: 20px; /* Optional: Margin at the bottom for spacing */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

  /* Ensure .rectangle inside .invoices-container */
.rectangle {
padding: 20px; /* Example padding inside .rectangle */

}

  /* Optional: Adjust styles for specific elements inside .rectangle */
.table-container {
overflow-y: auto; /* Enable scrolling if table content exceeds container height */
}

.dropdown-toggle::after {
  display: none; /* Hide default dropdown icon */
}

.mat-toolbar {
  background-color: white;
}

.db-button {
  height: 50px;
  width: 220px;
  border-radius: 10px;
  background-color: white;
  border-color: rgba(34, 35, 36, 0.38);
  text-align: left;
  color: rgba(34, 35, 36, 0.5);
  font-weight: bolder;
}
.dropdown-menu {
  width: 215px;
  overflow-y: auto;
  border-color: rgba(34, 35, 36, 0.38);
}

.dropdown-item {
  color: rgba(34, 35, 36, 0.5);
  font-weight: bolder;
}

.dropdown-item:active {
  background-color: transparent;
}

.action-button {
  margin-top: 8px;
}

.header-company {
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8f0;;
}

.filter-button {
  border-radius: 8px;
  background-color: #1EB386;
  color: white;
  height: 38px;
  text-align: left;
  width: 150px;
  display: flex;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.filter-button span {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}


