<!-- <mat-toolbar class="head" [ngClass]="getHeadClass()">
    <div class="avatar-container">
        <mat-icon>account_circle</mat-icon>
        <span class="username"> Ekon Consult S.R.O</span>
      </div>
  </mat-toolbar>
   -->

   <header>
    <div class="header">
        <nav class="HeaderNav">
            <div class="ActiveRouter">
                <span class="active-router-label">{{ currentRoute }}</span>
            </div>
        </nav>
        <span class="example-spacer"></span> <!-- Spacer, aby oddelil router od zvyšku obsahu -->
        <p>Name of user</p>
        <button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</header>
