.head {
    width: calc(100% - 5rem);
    z-index: 1;
    transition: all 0.5s ease;
    background: #ffffff;
    padding: 2.5rem 1.5rem; /* Adjust padding to fit content */
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f0f1f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  

.avatar-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes container to the right */
}

mat-icon {
font-size: 24px; /* Adjust size as needed */
vertical-align: middle; /* Align icon vertically within its container */
}
.username {
    font-size: 16px; /* Adjust text size as needed */
    color: #333; /* Adjust text color as needed */
  }
  
.avatar {
width: 3rem; /* Adjust size as needed */
height: 3rem; /* Adjust size as needed */
border-radius: 50%; /* Makes the image circular */
object-fit: cover; /* Ensures the image fits within the circle */
}
  
.head-trimmed {
width: calc(100% - 16.5625rem);
margin-left: 16.5625rem;
}

  
.head-md-screen {
width: calc(100% - 5rem);
margin-left: 5rem;
}