<!-- <mat-toolbar class="head" [ngClass]="getHeadClass()">
    <div class="avatar-container">
        <mat-icon>account_circle</mat-icon>
        <span class="username"> Ekon Consult S.R.O</span>
      </div>
  </mat-toolbar>
   -->

<header>
    <nav class="HeaderNav">
        <div class="ActiveRouter">
            <span class="RouterLabel">{{ currentRoute }}</span>
        </div>
    </nav>
    <div class="Spacer"></div> <!-- Spacer, aby oddelil router od zvyšku obsahu -->
    <p>Name of user</p>
    <button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</header>