<header>
  <div class="header-wrapper">
    <div class="search-container">
      <div class="search-icon">
        <i class="fas fa-search"></i>
      </div>
      <input
        type="text"
        class="search-input"
        placeholder="Search..." />
    </div>
    <div class="buttons-container">
      <i class="fas fa-bell" style="color:  #aaa8bd;"></i>
      <i class="fas fa-wrench" style="color:  #aaa8bd;"></i>
      <i class="fas fa-user" style="color:  #aaa8bd;"></i>
    </div>
  </div>
<!--  <div class="nav-container">-->
<!--    <nav class="header-nav">-->
<!--      <div class="active-router">-->
<!--        <span class="router-label">{{ currentRoute }}</span>-->
<!--      </div>-->
<!--    </nav>-->
<!--    <div class="vertical-divider"></div>-->
<!--    <div class="spacer"></div>-->
<!--  </div>-->
<!--    <nav class="header-nav">-->
<!--        <div class="active-router">-->
<!--            <span class="router-label">{{ currentRoute }}</span>-->
<!--        </div>-->
<!--    </nav>-->
<!--    <div class="vertical-divider"></div>-->
<!--    <div class="spacer"></div>-->
<!--    <div class="user-container">-->
<!--        <div class="user-menu">-->
<!--          &lt;!&ndash; icon of user &ndash;&gt;-->
<!--            <button class="user-menu-button" (click)="toggleDropdown()">-->
<!--                <div class="user-avatar">-->
<!--                </div>-->
<!--            </button>-->
<!--            <div class="dropdown-content" *ngIf="isDropdownOpen">-->
<!--                <div class="wrapper">-->
<!--                    <a href="" class="user-detail">-->
<!--                        <span>Detail Profilu</span>-->
<!--                        <mat-icon>account_circle</mat-icon>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <hr class="devider">-->
<!--                <div class="wrapper">-->
<!--                    <a href="" class="logout">-->
<!--                        <span>Odhlásiť sa</span>-->
<!--                        <mat-icon>exit_to_app</mat-icon>-->
<!--                    </a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</header>
