/* .head {
    width: calc(100% - 5rem);
    z-index: 1;
    transition: all 0.5s ease;
    background: #ffffff;
    padding: 2.5rem 1.5rem;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f0f1f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  

.avatar-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

mat-icon {
font-size: 24px;
vertical-align: middle;
}
.username {
    font-size: 16px; 
    color: #333; 
  }
  
.avatar {
width: 3rem; 
height: 3rem; 
border-radius: 50%; 
object-fit: cover; 
}
  
.head-trimmed {
width: calc(100% - 16.5625rem);
margin-left: 16.5625rem;
}

  
.head-md-screen {
width: calc(100% - 5rem);
margin-left: 5rem;
} */

.header {
  background-color: #f8f9fa; /* Svetlá farba pozadia pre header */
  display: flex;
  align-items: center; /* Vertikálne zarovnávanie obsahu */
  padding: 0 20px; /* Horizontálne odstupy */
  height: 60px; /* Výška headeru */
  border-bottom: 1px solid #d8d8f0;
}

.ActiveRouter {
  display: flex;
  justify-content: flex-start; /* Zarovná text na ľavú stranu */
  flex-grow: 1; /* Nech obsadí čo najviac priestoru, aby tlačil obsah na pravú stranu */
}

.active-router-label {
  text-align: left; /* Tento text bude zarovnaný naľavo */
}

.example-spacer {
  flex-grow: 1; /* Vyplní zvyšný priestor medzi routerom a používateľom */
}

.actionbar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
