.container {
    display: flex;
    justify-content: space-between; /* Oddeľuje komponenty rovnakým priestorom */
    align-items: flex-start; /* Zarovná komponenty na horný okraj */
  }

  app-invoice-inspect-display,
  app-invoice-inspect-ocr-warning {
    flex: 1; /* Flexibilné šírky komponentov */
  }

.body {
  padding: 2.5rem 2.5rem .75rem;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5em 1em;
}

h3 {
  margin: 0; /* Odstráni defaultné medzery */
  padding: 0; /* Odstráni vnútorný priestor */
}

h4 {
  margin: 0;
  padding: 0;
}

.form-input {
  flex: 1;
}

.col-custom {
  flex: 0 0 30%; /* 30% šírky kontajnera */
  max-width: 30%; /* Maximálna šírka 30% */
}

.form-input input {
  border: 1px solid #d8d8f0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.form-group .form-text {
  margin-left: 10rem;
  font-size: 14px;
  color: #9aa0a3;
}

.cards-container {
  display: flex; /* Karty pôjdu vedľa seba */
  gap: 1rem; /* Medzera medzi kartami */
}

label {
  width: 10rem;
  align-self: center;
}

.invoice-source {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 500;
  font-size: 17px;
  border-bottom: 1px solid #d8d8f0;
  padding: .75em;
}

.section-title {
  font-weight: 500;
  font-size: 12px;
  padding: 0.5em 1em;
  border-bottom: 1px solid #d8d8f0;
  border-top: 1px solid #d8d8f0;
}

.section-title.no-border {
  border-bottom: none;
}

.invoice-source img {
  max-width: 100%;
  max-height: 100%;
}
