<!--<div class="container">-->
<!--    <app-invoice-inspect-display></app-invoice-inspect-display>-->
<!--&lt;!&ndash;    <app-invoice-inspect-ocr-warning></app-invoice-inspect-ocr-warning>&ndash;&gt;-->
<!--</div>-->


<div class="body">
  <div class="invoice-number">
    <h1>Faktura #{{invoice.invoice_number}}</h1>
  </div>
  <div class="cards-container">
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <div class="invoice-source">
            <img src="assets/invoice.png" alt="Invoice Image">
          </div>
        </div>
      </div>
      <button (click)="exportIssued()"> Exportuj</button>
    </div>
    <div class="col-custom warning-and-details">
      <div class="warning-container">
        <app-invoice-inspect-ocr-warning></app-invoice-inspect-ocr-warning>
      </div>
      <div class="card">
        <div class="title">
          <h3 (click)="showInformationSupplier = !showInformationSupplier">Informácie - dodavatel
          <span class="arrow" [class.rotated]="!showInformationSupplier">
          </span></h3>
        </div>
        <div *ngIf="showInformationSupplier">
        <div>
          <div class="form-group">
            <label>Meno</label>
            <div class="form-input">
              <input [(ngModel)]="invoice.partnerName">
            </div>
          </div>
          <div class="section-title" [ngClass]="{'no-border': !showAddress}" >
          <h4 (click)="showAddress = !showAddress">Sídlo
            <span class="arrow">▼
            </span>
          </h4>
          </div>
          <div *ngIf="showAddress" class="content">
          <div class="form-group">
            <label>Mesto</label>
            <div class="form-input">
              <input [(ngModel)]="invoice.partnerCity">
            </div>
          </div>
          <div class="form-group">
            <label>Ulica</label>
            <div class="form-input">
              <input [(ngModel)]="invoice.partnerStreet">
            </div>
          </div>
          <div class="form-group">
            <label>PSČ</label>
            <div class="form-input">
              <input [(ngModel)]="invoice.partnerZip">
            </div>
          </div>
          </div>
          <div class="section-title" [ngClass]="{'no-border': !showCompanyData}">
          <h4 (click)="showCompanyData = !showCompanyData">Údaje
            <span class="arrow"> ▼
            </span>
          </h4>
          </div>
          <div  *ngIf="showCompanyData" class="content">
          <div class="form-group">
            <label>IČ DPH</label>
            <div class="form-input">
              <input [(ngModel)]="invoice.partnerVatId">
            </div>
          </div>
<!--          <div class="form-group">-->
<!--            <label>IBAN</label>-->
<!--            <div class="form-input">-->
<!--              <input [(ngModel)]="invoice.companyIban">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label>IČO</label>-->
<!--            <div class="form-input">-->
<!--              <input [(ngModel)]="invoice.companyRegistration">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label>DIČ</label>-->
<!--            <div class="form-input">-->
<!--              <input [(ngModel)]="invoice.companyTax">-->
<!--            </div>-->
<!--          </div>-->
          </div>
        </div>
      </div>
      </div>
      <br>
        <div class="card">
          <div class="title">
            <h3>Informácie - faktura</h3>
          </div>
            <div class="form-group">
              <label>Datum vystavenia</label>
              <div class="form-input">
                <input [(ngModel)]="invoice.issueDate">
              </div>
            </div>
            <div class="form-group">
              <label>Datum splatnostni</label>
              <div class="form-input">
                <input [(ngModel)]="invoice.dueDate">
              </div>
            </div>
            <div class="form-group">
              <label>Variabilny symbol</label>
              <div class="form-input">
                <input [(ngModel)]="invoice.variableSymbol">
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
