<div class="home-page-container">
  <div class="col-7">
    <div class="table">
      <div class="table-head">
        <div class="table-title">
          <h5>Záznamy aktivít</h5>
          <span>- zobrazenych 0 aktivit</span>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
          <tr>
            <th class="column-header">
              <div class="head-container">
                <span>Datum a cas</span>
              </div>
            </th>
            <th class="column-header">
              <div class="head-container">
                <span>Typ akcie</span>
              </div>
            </th>
            <th class="column-header">
              <div class="head-container">
                <span>Popis akcie</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="table-row empty">
            <td class="cell" colspan="9">Ziadne zaznamy</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
