<div class="card">
    <div class="card-head">
        <p>Informacie - dodavatel</p>
    </div>
    <div class="card-body-info first last">
        <span class="info">Nazov firmy <img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input company">
    </div>
    <div class="card-middle-head">
        <span> Sidlo </span>
    </div>
    <div class="card-body-info first">
        <span class="info">Mesto<img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input">
    </div>
    <div class="card-body-info">
        <span class="info">Ulica<img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input">
    </div>
    <div class="card-body-info last">
        <span class="info">PSC<img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input">
    </div>
    <div class="card-middle-head">
        <span> Udaje </span>
    </div>
    <div class="card-body-info first">
        <span class="info">ICDPH<img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input">
    </div>
    <div class="card-body-info">
        <span class="info">IBAN<img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input iban">
    </div>
    <div class="card-body-info">
        <span class="info">ICO<img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input">
    </div>
    <div class="card-body-info last">
        <span class="info">DIC<img src="assets/question.png" alt="checked" class="question-mark icon"> </span>
        <input type="text" class="rounded-input">
    </div>
</div>
