<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
      <img class="w-8 h-8 mr-2" ngSrc="assets/loginLogo.svg" alt="logo" height="48" width="48">
      InvoiceSync
    </a>
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
          Vytvorte si účet
        </h1>
        <form class="space-y-4 md:space-y-6" (submit)="register(); $event.preventDefault()">
          <div>
            <label for="login" class="block mb-2 text-sm font-medium text-gray-900">Meno Priezvisko</label>
            <input type="text" [(ngModel)]="fullName" name="login" id="login" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Janko Hrasko" required>
          </div>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-mail</label>
            <input type="email" [(ngModel)]="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="hrasko@gmail.com" required>
          </div>
          <div>
            <label for="login" class="block mb-2 text-sm font-medium text-gray-900">Prihlasovacie meno</label>
            <input type="text" [(ngModel)]="username" name="login" id="login" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="rychlo.uctovnictvo" required>
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Heslo</label>
            <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
          </div>
          <div class="flex items-center justify-between">
          </div>
          <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Prihlásiť sa</button>
          <p class="text-sm font-light text-gray-500">
            Máte už účet? <a routerLink="/login" class="font-medium text-primary-600 hover:underline">Prihlásiť</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
