.body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Výška celej obrazovky */
}

.content {
  display: flex; /* Horizontálne rozloženie pre obsah */
  flex-grow: 1; /* Vyplniť zvyšok priestoru */
}

.main {
  flex-grow: 1; /* Vyplniť zvyšok priestoru vedľa sidenavu */
  background: #f3f7f9; /* Pozadie pre main obsah */
  height: 100%; /* Zabezpeč, že main bude mať 100% výšku */
  padding-left: 11.5rem;
}

.header {
  padding-left: 11.5rem;
}
