<div class="w-full min-h-screen flex flex-col p-4">
  <div class="bg-[#f7f7fc] dark:bg-[#2a2b30] rounded-lg overflow-hidden border border-gray-300 dark:border-[#383852]">
    <div class="flex flex-col space-y-0">
      <div class="flex items-center justify-between py-2.5 px-8 border-b border-gray-300 dark:border-[#383852]">

        <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-300">Pokladna</h2>
      </div>
      <div class="flex items-center justify-between py-2 px-8">
        <button
          (click)="openAccountsImportModal()"
          class="flex items-center px-3 py-2 text-sm text-gray-900 bg-[#f7f7fc] border border-gray-300 rounded-sm hover:bg-gray-100 focus:ring-4 focus:ring-blue-300 max-w-[522.27px] h-[32px]">
          <svg class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
               fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>
          Pridať
        </button>
      </div>
    </div>


    <table class="w-full text-sm text-left text-gray-500 border-t border-gray-300 dark:border-[#383852]">
      <thead class="text-xs text-gray-700 dark:text-gray-300 bg-[#f7f7fc] dark:bg-[#2a2b30] border-b border-gray-100 dark:border-[#383852]">
      <tr>
        <th scope="col" class="px-4 py-3 border-r border-gray-300 dark:border-[#383852] last:border-r-0">Identifikácia účtu</th>
        <th scope="col" class="px-4 py-3 border-r border-gray-300 dark:border-[#383852] last:border-r-0">Názov účtu</th>
        <th scope="col" class="px-4 py-3 border-r border-gray-300 dark:border-[#383852] last:border-r-0">Account Id</th>
        <th scope="col" class="px-4 py-3 w-[60px] text-center dark:border-[#383852]">Akcie</th>
      </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200 dark:divide-[#383852]">

      <tr class="last:border-b-0" *ngFor="let acc of accountResponse.content; let even = even"
          [ngClass]="even ? 'bg-white dark:bg-[#1a1b1e]' : 'bg-white dark:bg-[#2a2b30]'">
        <td class="px-4 py-3 text-black dark:text-white border-r border-gray-300 dark:border-[#383852] last:border-r-0">{{ acc.accountId }}</td>
        <td class="px-4 py-3 text-black dark:text-white border-r border-gray-300 dark:border-[#383852] last:border-r-0">{{ acc.accountName }}</td>
        <td class="px-4 py-3 text-black dark:text-white border-r border-gray-300 dark:border-[#383852] last:border-r-0">{{ acc.categoryName }}</td>

        <td class="w-[60px] border-r border-gray-300 dark:border-[#383852] last:border-r-0">
          <div class="flex items-center justify-center h-full">

            <!-- WRAPPER s tooltipom -->
            <div
              *ngIf="!acc.editable"
              [attr.data-tooltip-target]="'tooltip-edit-' + acc.accountId"
              [attr.data-tooltip-placement]="'left'"
              class="relative group"
            >
              <button
                disabled
                class="p-1.5 rounded-md opacity-50 cursor-not-allowed"
              >
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                </svg>
              </button>

              <!-- Tooltip -->
              <div
                [id]="'tooltip-edit-' + acc.accountId"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
         transition-opacity duration-300 bg-gray-700 rounded-lg shadow-xs opacity-0 tooltip
         min-w-[200px] max-w-[250px] break-words">
                Tento účet nemožno upraviť, patrí medzi základne
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>

            <!-- Ak je editable, normálny button -->
            <button
              *ngIf="acc.editable"
              class="p-1.5 rounded-md hover:bg-gray-200 cursor-pointer transition-colors">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
              </svg>
            </button>

            <!-- DELETE BUTTON -->
            <button
              class="p-1.5 rounded-md hover:bg-red-100 cursor-pointer transition-colors">
              <svg class="w-4 h-4 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      </tbody>


    </table>
  </div>
</div>

<app-modal
  [show]="accountsImportModalOpen"
  (closeModal)="closeAccountsImportModal()"
  title="Import bločkov"
>
  <form #importForm="ngForm">
    <div class="grid gap-4 mb-6">

      <div class="w-full max-w-md mx-auto">
        <!-- Tabs -->
        <div class="flex border-b border-blue-300 mb-4">
          <button
            class="w-1/2 py-2 text-center font-semibold"
            [ngClass]="{ 'text-blue-600 border-b-2 border-blue-600': activeTab === 'create', 'text-gray-600': activeTab !== 'create' }"
            (click)="activeTab = 'create'"
          >
            Vytvorenie účtu
          </button>

          <button
            class="w-1/2 py-2 text-center font-semibold"
            [ngClass]="{ 'text-blue-600 border-b-2 border-blue-600': activeTab === 'importExternal', 'text-gray-600': activeTab !== 'importExternal' }"
            (click)="activeTab = 'importExternal'"
          >
            Import účtov
          </button>
        </div>

        <!-- Add own account -->
        <div *ngIf="activeTab === 'create'" class="space-y-4">
          <div class="mb-4">
            <label for="accountId" class="block text-sm font-medium text-gray-700 mb-1">
              Číslo účtu
            </label>
            <input
              type="text"
              id="accountId"
              name="accountId"
              class="mt-1 block w-full border border-gray-300 rounded-lg p-2.5"
              required
              maxlength="10"
              (input)="onAccountIdChange()"
              [(ngModel)]="newAccount.accountId"
            />
          </div>

          <div class="mb-4">
            <label for="accountName" class="block text-sm font-medium text-gray-700 mb-1">
              Názov účtu
            </label>
            <input
              type="text"
              id="accountName"
              name="accountName"
              class="mt-1 block w-full border border-gray-300 rounded-lg p-2.5"
              required
              maxlength="100"
              [(ngModel)]="newAccount.accountName"
            />
          </div>

          <div *ngIf="autoClassName || autoCategoryName"
               class="bg-gray-50 border-t pt-3 mt-4 text-sm text-gray-700">
            <p *ngIf="autoClassName" class="mb-1">
              <span class="font-medium"> Trieda:</span> {{ autoClassId }} - {{ autoClassName }}
            </p>
            <p *ngIf="autoCategoryName">
              <span class="font-medium"> Kategoria:</span> {{ autoCategoryId }} - {{ autoCategoryName }}
            </p>
          </div>
        </div>

        <!-- Import external file with accounts -->
        <div *ngIf="activeTab === 'importExternal'" class="space-y-4">
          <div class="flex justify-end mb-2">
            <button
              (click)="openTutorialModal()"
              type="button"
              class="flex items-center text-sm text-blue-600 hover:underline hover:text-blue-800"
            >
              Ako nahrať účty?
            </button>
          </div>

          <!-- Upload box -->
          <div>
            <label
              for="external-upload"
              class="flex flex-col items-center justify-center w-full h-56 border-2 border-dashed border-blue-300 rounded-lg bg-gray-50 hover:bg-gray-100"
            >
              <div class="flex flex-col items-center pt-5 pb-6">
                <svg class="w-8 h-8 text-black mb-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                        d="M3 6a2 2 0 0 1 2-2h5.532a2 2 0 0 1 1.536.72l1.9 2.28H3V6Zm0 3v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9H3Z"
                        clip-rule="evenodd"/>
                </svg>
                <p class="text-sm text-gray-600"><strong>Vyberte alebo pretiahnite viac obrázkov
                  účteniek</strong></p>
                <p class="text-xs text-gray-500">Podporované: .xlsx</p>
              </div>
              <input
                id="external-upload"
                type="file"
                accept=".xlsx"
                multiple
                class="hidden"
                (change)="onExternalFileUpload($event)"
              />
            </label>
          </div>

          <div *ngIf="externalFile" class="mt-2 text-sm text-blue-800">
            Vybraný súbor: <strong>{{ externalFile.name }}</strong>
          </div>
        </div>

      </div>

    </div>
    <hr class="h-px my-4 bg-gray-200 border-0">
    <button
      (click)="onCreateAccounts()"
      [disabled]="isUploading"
      type="submit"
      class="relative text-white inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
    >
      <ng-container *ngIf="!isUploading; else loading">
        Importovať
      </ng-container>
      <ng-template #loading>
        <svg class="animate-spin h-5 w-5 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
        </svg>
        Nahrávam...
      </ng-template>
    </button>
  </form>
</app-modal>
