
<!-- <app-sidenav></app-sidenav>
<app-header></app-header>
<app-body [collapsed]="isSideNavCollapsed"
[screenWidth]="screenWidth">
</app-body> -->

<!-- <app-sidenav></app-sidenav>  -->

<div class="body">
  <header class="header">
    <app-header></app-header>
  </header>
  <div class="content">
    <app-sidenav></app-sidenav>
    <main class="main">
      <app-grid-invoices></app-grid-invoices>
    </main>
  </div>
</div>





<!-- make this as component -->
<!-- <mat-toolbar class="tool-bar">
  <span>IvoiceSync </span> <mat-icon>sync </mat-icon>
</mat-toolbar>
<div class="app-version">
  Version: Alpha 0.1  
</div>

<div class="grid-container">
  <div class="sidebar"> -->

    <!-- Your button container -->
    <!-- <mat-nav-list class="button-container">
      <app-custom-button label="Faktury" icon="receipt_long"></app-custom-button>
      <app-custom-button label="Rex" icon="phone_android" [disabled]="isRexDisabled"></app-custom-button>
    </mat-nav-list> -->

    <!-- Application version -->
  <!-- </div>
  <div class="main-content"> -->
    <!-- Vaša komponenta app-grid-invoices na pravej strane -->

    <!-- <button mat-flat-button matTooltip="Link" color="basic" [style.backgroundColor]="'rgba(192, 192, 192, 0.35)'" class="custom-button" [style.border-radius]="'5px'" [style.margin-bottom]="'12px'" (click)="openFileDialog()">
      <mat-icon>upload </mat-icon>
      Import
    </button>
    
    <app-grid-invoices></app-grid-invoices>

  </div>
</div> -->


<!-- <div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Upload and Download Files</h4>
    </div><br>
    <div class="panel-body">        
      <strong>Select XML files from your computer</strong>
      <div *ngIf="fileStatus.status==='progress'">
        <div class="progress">
          <div [style.width.%]= "fileStatus.percentage" class="progress-bar progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              {{ fileStatus.requestType }} {{ fileStatus.percentage }}%
            </div>
        </div>
      </div> <hr>

      <form enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <div>
              <input type="file" (change)="onUploadFiles($event.target.files)" name="files" class="form-control" accept=".xml"/>
            </div>
          </div>
        </fieldset>
      </form>



  

      <br>  
      <div class="parent-container">
        <app-import-list-component></app-import-list-component>
        <app-download-list-component></app-download-list-component>
      </div>


    </div>
  </div>
</div> -->
