.dropdown-toggle::after {
    display: none; /* Hide default dropdown icon */
}

.mat-toolbar {
    background-color: white;
}

.db-button {
  height: 50px;
  width: 220px;
  border-radius: 10px;
  background-color: white;
  border-color: rgba(34, 35, 36, 0.38);
  text-align: left;
  color: rgba(34, 35, 36, 0.5);
  font-weight: bolder;
}
.dropdown-menu {
  width: 215px; 
  overflow-y: auto;
  border-color: rgba(34, 35, 36, 0.38);
}

.dropdown-item {
  color: rgba(34, 35, 36, 0.5);
  font-weight: bolder;
}

.dropdown-item:active {
  background-color: transparent;
}

.action-button {
  margin-top: 8px;
}

.header-company {
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8f0;;
}

.filter-button {
  border-radius: 8px;
  background-color: #1EB386;
  color: white;
  height: 38px;
  text-align: left;
  width: 150px;
  display: flex;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.filter-button span {
  margin-top: 5px;      
  font-size: 16px;
  font-weight: 500;
}

