<!--<section class="bg-gray-50">-->
<!--  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">-->
<!--    <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900">-->
<!--      <img class="w-8 h-8 mr-2" ngSrc="assets/loginLogo.svg" alt="logo" height="48" width="48">-->
<!--      InvoiceSync-->
<!--    </a>-->
<!--    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">-->
<!--      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">-->
<!--        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">-->
<!--          Prihláste sa do svojho účtu-->
<!--        </h1>-->
<!--        <form class="space-y-4 md:space-y-6" (ngSubmit)="authenticate()">-->
<!--          <div>-->
<!--            <label for="login" class="block mb-2 text-sm font-medium text-gray-900">Prihlasovacie meno</label>-->
<!--            <input type="text" name="login" id="login" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="rychlo.uctovnictvo" required [(ngModel)]="authRequest.login">-->
<!--          </div>-->
<!--          <div>-->
<!--            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Heslo</label>-->
<!--            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required [(ngModel)]="authRequest.password">-->
<!--          </div>-->
<!--          <div class="flex items-center justify-between">-->
<!--&lt;!&ndash;            <div class="flex items-start">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="flex items-center h-5">&ndash;&gt;-->
<!--&lt;!&ndash;                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="ml-3 text-sm">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="remember" class="text-gray-500">Remember me</label>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="text-sm font-medium text-primary-600 hover:underline">Forgot password?</a>&ndash;&gt;-->
<!--          </div>-->
<!--          <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Prihlásiť sa</button>-->
<!--&lt;!&ndash;          <p class="text-sm font-light text-gray-500">&ndash;&gt;-->
<!--&lt;!&ndash;            Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline">Sign up</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </p>&ndash;&gt;-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

